@model WahlfachAnmeldung.ViewModel.RegistrationViewModel

<h1>Anmeldung zum Wahlpflichtfach</h1>
<h3>Anmeldung</h3>
<p>
    Bitte reihe die angezeigten Wahlpflichtfächer von 1 - 4. Jede Zahl darf nur einmal vergeben werden.
    1 bedeutet Erstwahl, also dein beliebtestes Fach.

    Du kannst deine Anmeldung bis So, 7. Juni 2020 beliebig oft ändern. Danach ist das System für
    Änderungen gesperrt.
</p>
@if (Model.LastValidRegistration != null)
{
    <p>Deine letzte gültige Eintragung erfolgte am @(Model.LastValidRegistration.ToString()).</p>
}

@using (Html.BeginForm("Registration", "Home"))
{
    <table class="table">
        @for (int i = 0; i < Model.SubjectRegistrations.Count; i++)
        {
            var s = Model.SubjectRegistrations[i];
            <tr>
                <th scope="row">@s.SubjectId - @s.SubjectName</th>
                <td>
                    @Html.TextBoxFor(
               m => m.SubjectRegistrations[i].Rating,
               new { type = "number", min = 1, max = Model.SubjectRegistrations.Count })
                </td>
            </tr>
            @Html.HiddenFor(m => m.Token)
            @Html.HiddenFor(m => m.LastValidRegistration)
            @Html.HiddenFor(m => m.SubjectRegistrations[i].RegistrationId)
            @Html.HiddenFor(m => m.SubjectRegistrations[i].SubjectId)
            @Html.HiddenFor(m => m.SubjectRegistrations[i].SubjectName)
        }
    </table>
    <button type="submit" class="btn btn-primary">Eintragen!</button>
}
<div class="pt-3">
    @Html.ValidationSummary()
</div>

<h3>Bisher eingelangte Anmeldungen</h3>
<table>
    <tr>
        @foreach (var s in Model.RegistrationStats.Select(r => r.SubjectId))
        {
            <td>@s</td>
        }
    </tr>
    <tr>
        @foreach (var rc in Model.RegistrationStats.Select(r => r.RegistrationCount))
        {
            <td>@rc</td>
        }
    </tr>
</table>
