@page "{id}"
@model WahlfachAnmeldung.Pages.ListModel

<h1>Eingetragene Erstanmeldungen</h1>
<h3>Statistik</h3>
<table>
    <tr>
        @foreach (var s in Model.RegistrationStats.Select(r => r.SubjectId))
        {
            <td>@s</td>
        }
    </tr>
    <tr>
        @foreach (var rc in Model.RegistrationStats.Select(r => r.RegistrationCount))
        {
            <td>@rc</td>
        }
    </tr>
</table>

<h3>Einzelliste</h3>
<p>
    @*Da tsv ein API Controller ist, wird händisch verlinkt (ActionLink kann nur auf Pages verweisen)*@
    <a href="@($"/tsv/{Model.Token.TeacherTokenId}")" target="_blank">Zur Textliste</a>
</p>
<table class="table-sm">
    <thead>
        <tr>
            <th>Klasse</th>
            <th>Anmeldedatum</th>
            <th>Token</th>
            <th>Fach</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model.Registrations)
        {
            <tr>
                <td>@r.Schoolclass</td>
                <td>@r.RegistrationDate.ToString("d.MM.yyyy H:mm")</td>
                <td>@r.Token</td>
                <td>@r.Subject</td>
            </tr>
        }
    </tbody>
</table>

