@page "{id}"
@model WahlfachAnmeldung.Pages.ListModel

<h1>Eingetragene Erstanmeldungen</h1>


<div class="container">
    <div class="row">
        <div class="col-12">
            <h3>Statistik</h3>
            <table>
                <tr>
                    @foreach (var s in Model.RegistrationStats.Select(r => r.SubjectId))
                    {
                        <td style="min-width:4em">@s</td>
                    }
                </tr>
                <tr>
                    @foreach (var rc in Model.RegistrationStats.Select(r => r.RegistrationCount))
                    {
                        <td>@rc</td>
                    }
                </tr>
            </table>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-8">
            <h3>Einzelliste</h3>
        </div>
        <div class="col-4">
            <h3>Fehlende Anmeldungen</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-8">
            @*Da tsv ein API Controller ist, wird händisch verlinkt (ActionLink kann nur auf Pages verweisen)*@
            <a href="@($"/tsv/{Model.Token.TeacherTokenId}")" target="_blank">Zur Textliste</a>
        </div>
        <div class="col-4">

        </div>
    </div>
    <div class="row">
        <div class="col-8">
            <table class="table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Klasse</th>
                        <th>Anmeldedatum</th>
                        <th>Token</th>
                        <th>Fach</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0; }
                    @foreach (var r in Model.Registrations)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td>@r.Schoolclass</td>
                            <td>@r.RegistrationDate.ToString("d.MM.yyyy H:mm")</td>
                            <td>@r.Token</td>
                            <td>@r.Subject</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-4">
            <table class="table-sm">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Klasse</th>
                        <th>Token</th>
                    </tr>
                </thead>
                <tbody>
                    @{i = 0; }
                    @foreach (var m in Model.MissingRegistrations)
                    {
                        <tr>
                            <td>@(++i)</td>
                            <td>@m.SchoolClass</td>
                            <td>@m.TokenId</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

